

body {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

main {
  font-size: 1em;
  
  width: 800px;
  height: 400px;
  position: relative;
}

body{
display: grid;
background-image: url("https://assets.codepen.io/9466833/mirror.png");
  display: grid;
 
}


time {
display: block;
  position: absolute;
top:200px;
  left:400px;
  width:1000px;
 
}

date{
  justify-content: center;
  align-content: center;

}

.date .month {
  font-size:5em;
  padding:20px;
  color:white;
  justify-content: center;
  align-content: center;
 
}

.date .dayOfMonth{
  font-size:5em;
   padding:20px;
   color:white;
  justify-content: center;
  align-content: center;

}

.date .year {
  font-size:5em;
color:white;
  justify-content: center;
  align-content: center;
 
}

.date .dayOfWeek{
  color:white;
  Font-size:5em;
  justify-content: center;
  align-content: center;
  top:200px;
  left:-500px;
}

.time .hours {
font-size:2em;
color:white;
display: block;
  position: absolute;
top:200px;
  left:50px;
  width:1000px;
}

.time .minutes {
  font-size:2em;
  color:white;
  display: block;
  position: absolute;
top:200px;
  left:100px;
  width:1000px;
  }

.time .seconds {
  
  font-size:2em;
  color:white;
  display: block;
  position: absolute;
top:200px;
  left:150px;
  width:1000px;
}